<dialog #dialog style="border: 2px solid seagreen;border-radius: 12px;position: absolute;top: calc(50% - 200px)">
  <div style="width: 100%;display: flex;border-bottom: 1px solid">
    <h1 style="font-family: monospace;color: seagreen;flex-grow: 1;margin: 0">{{ title() }}</h1>
    <span class="material-symbols-outlined"
          (click)="dialog.close()"
          style="color: crimson;cursor: pointer;display: inline-block;align-items:center">close</span>
  </div>
  <div style="max-height: 300px;overflow: auto;height: 300px">
    <div *ngFor="let item of data();let i = index;">
      <div style="display: flex;width: 900px">
        <div style="border-bottom: 1px solid orangered;flex-grow: 1">
          <span class="material-symbols-outlined"
                style="white-space: pre;display: inline-block;vertical-align: middle;color: crimson">key</span>
          <p style="display: inline-block;vertical-align: middle" class="col1">{{ item.key }}</p>
        </div>
        <div style="border-bottom: 1px solid orangered;flex-grow: 1">
          <span class="material-symbols-outlined"
                style="white-space: pre;display: inline-block;vertical-align: middle;color: darkcyan">label</span>
          <p style="display: inline-block;vertical-align: middle" class="col2">{{ item.value }}</p>
        </div>
      </div>
    </div>
  </div>
</dialog>
