<fieldset style="border: 2px solid darkcyan;border-radius: 12px;width: 950px">
  <legend style="color: mediumvioletred"><h2 style="margin: 2px;font-family: monospace;">{{ routedPageTitle }}</h2>
  </legend>
  <form [formGroup]="formGroup()" (submit)="post()">
    <div style="display: flex;flex-direction: column">
      <div style="margin-top: 12px;width: 928px;display: flex">
        <label for="dir-name" style="white-space: pre;font-family: monospace">Directory: </label>
        <input style="flex-grow: 1" id="dir-name" type="text" formControlName="path">
      </div>

      <fieldset style="margin-top: 12px;border-radius: 12px;border: 2px solid crimson;width: 900px">
        <legend style="white-space: pre;font-family: monospace;font-size: 12pt">Key/Value Indexing</legend>
        <div style="max-height: 300px;overflow: auto;height: 300px"
             formArrayName="labels"
             (click)="deleteLabelFromList($event)">
          @for (item of labelsList(); track item.get('id').value; let i = $index) {
            <div style="display: flex;width: 900px" [formGroupName]="i">
              <div style="border-bottom: 1px solid orangered;flex-grow: 1">
                <span class="material-symbols-outlined"
                      style="white-space: pre;display: inline-block;vertical-align: middle;color: crimson">key</span>
                <input style="display: inline-block;vertical-align: middle" formControlName="key"
                       class="formEditText col1"
                       type="text"
                       placeholder="Put your Key Here">
              </div>
              <div style="border-bottom: 1px solid orangered;flex-grow: 1">
                <span class="material-symbols-outlined"
                      style="white-space: pre;display: inline-block;vertical-align: middle;color: darkcyan">label</span>
                <input style="display: inline-block;vertical-align: middle" formControlName="value"
                       placeholder="Put Value here"
                       class="formEditText col2"
                       type="text">
              </div>
              <div style="border: none;display: contents">
                <button style="display: block" class="controlButton delete" type="button" [id]="'delete-button-'+i">
                  <span [id]="'delete-button-'+item.get('id').value" class="material-symbols-outlined">delete</span>
                </button>
              </div>
            </div>
          }
        </div>
        <ng-container *ngTemplateOutlet="keyValueEditTableControls"/>
      </fieldset>
      <div style="margin-top: 12px">
        <button class="controlButton submit" type="submit">
          <span class="material-symbols-outlined">post_add</span>
          Create
        </button>
      </div>
    </div>
  </form>
</fieldset>

<ng-template #keyValueEditTableControls>
  <div style="display: inline-block;margin-top: 12px">
    <button class="controlButton add"
            (click)="addLabel()"
            type="button">
      <span class="material-symbols-outlined">new_label</span>
      Add
    </button>
    <button type="button"
            (click)="resetLabelList()"
            class="controlButton reset">
      <span class="material-symbols-outlined">restart_alt</span>
      Reset
    </button>
  </div>
</ng-template>
