<style>
  td, th {
    font-family: monospace;
    font-size: 12pt;
  }

  th {
    border-bottom: 1px solid rgb(128, 128, 128);
  }

  .selectedRow {
    background: aliceblue;
  }

  table.selectableRows > tbody > tr {
    cursor: pointer;
  }
</style>
<fieldset
  style="border: 2px solid darkcyan;border-radius: 12px;display: flex;flex-direction: column;width: 1000px;height: 650px">
  <legend style="color: mediumvioletred">
    <h2 style="margin: 2px;font-family: monospace;">{{ routedPageTitle }}</h2>
  </legend>
  <div style="max-height: 600px;overflow: auto;width: 1100px;height: 600px">
    <table class="selectableRows" style="border-spacing: 0;width: 1083px;">
      <thead>
      <tr style="position: sticky;top: 0;background: white">
        <th style="text-align: start;width: 520px"><span class="material-symbols-outlined"
                                                         style="color: crimson;cursor: pointer;display: inline-block;vertical-align: middle;margin-right: 6px;text-align: start">lists</span>
          Directory
        </th>
        <th style="width:260px"><span class="material-symbols-outlined"
                                      style="color: crimson;cursor: pointer;display: inline-block;vertical-align: middle;margin-right: 6px;">more_time</span>Created
          At
        </th>
        <th style="width:260px"><span class="material-symbols-outlined"
                                      style="color: crimson;cursor: pointer;display: inline-block;vertical-align: middle;margin-right: 6px;">edit_calendar</span>Updated
          At
        </th>
        <th style="border: none;width: 100px">
        </th>
      </tr>
      </thead>
      <tbody style="width: 1100px" appSelectableRowHighlighter highlighterCss="selectedRow">
      <tr style="width: 1100px">
        <td colspan="4" (click)="goToRoot()" style="padding-top: 8px;">
          <span
            style="color: darkcyan;display: inline-block;vertical-align: middle;font-size: 16pt;padding-right: 8px"
            class="material-symbols-outlined">arrow_back </span>{{currentDirectory()}}
        </td>
      </tr>
        @for (item of directoriesInfo(); track item.path; let index = $index) {
          <tr style="width: 1100px">
            <td style="width: 520px" (click)="onSubDirClicked(item.path)">
              {{ item.path }}
            </td>
            <td
              style="padding-left: 24px;padding-right: 24px;width: 260px;text-align: center">{{ item.create|javaLocaldatetimeFormatter }}
            </td>
            <td
              style="padding-left: 24px;padding-right: 24px;width: 260px;text-align: center">{{ item.updated|javaLocaldatetimeFormatter }}
            </td>
            <td style="text-align: center;width: 100px">
              <span class="material-symbols-outlined" (click)="showDetails(index)"
                    style="color: forestgreen;cursor: pointer;">upload_file</span>
              <span class="material-symbols-outlined" (click)="showDetails(index)"
                    style="color: mediumblue;cursor: pointer;">info</span>
              <span class="material-symbols-outlined" (click)="showDetails(index)"
                    style="color: orangered;cursor: pointer;">delete</span>
            </td>
          </tr>
        }

      </tbody>
    </table>
  </div>
  @defer {
    <div style="width: fit-content;padding: 6px;align-self: center;">
      <button
        style="color: darkcyan;font-weight: bold;cursor: pointer;padding: 3px;vertical-align: middle;background: none;border: none;"
        class="material-symbols-outlined">first_page
      </button>
      <button
        style="color: mediumvioletred;font-weight: bold;cursor: pointer;padding: 3px;vertical-align: middle;background: none;border: none;"
        class="material-symbols-outlined">navigate_before
      </button>
      <span
        style="font-weight: bold;font-family: monospace;display: inline-block;vertical-align: middle;padding: 3px;font-size: 12pt">1 of 10</span>
      <button
        style="color: mediumvioletred;font-weight: bold;cursor: pointer;padding: 3px;vertical-align: middle;background: none;border: none;"
        class="material-symbols-outlined">navigate_next
      </button>
      <button
        style="color: darkcyan;font-weight: bold;cursor: pointer;padding: 3px;vertical-align: middle;background: none;border: none;"
        class="material-symbols-outlined">last_page
      </button>
    </div>
  }
</fieldset>
@defer {
  <app-key-value-dialog-box id="labelsDetails" [interactor]="keyValueDialogBoxInteractor"/>
}
